<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Bonjour <%= user.firstname %></h1>
      </div>
    </div>
  </div>


<div class="container-fluid dashboard">
  <form action="/dashboard/music" method="POST">
    <div class="mb-4">
      <h2 class="h4">Ajouter une musique</h2>
    </div>

    <!-- Lastname -->
    <div class="mb-3">
      <div class="input-group">
        <input type="text" class="form-control form__input" name="Music_author" placeholder="Artiste">
      </div>
    </div>

    <!-- Firstname -->
    <div class="mb-3">
      <div class="input-group">
        <input type="text" class="form-control form__input" name="Music__ft_author" placeholder="Artiste secondaire">
      </div>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <div class="input-group">
        <input type="text" class="form-control form__input" name="Music_name" placeholder="Titre de la musique">
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <div class="input-group">
        <input type="text" class="form-control form__input" name="Music_date" placeholder="date de sortie">
      </div>
    </div>

    <button type="submit" class="btn btn-form-register">Ajouter</button>
  </form>
</div>



<div class="container-fluid card-music-dashboard">
  <div class="row">
    <% music.forEach(element => { %>
    <div class="col-md-2 card-music">
      <h2><%= element.Music_author %> </h3>
      <h2><%= element.Music__ft_author %></h3>
        <h3><%= element.Music_name %></h3>
      <p><%= element.Music_date %></p>
      <a href="/dashboard/music/edit/<%= element.MusicID %>"><button type="button" class="btn btn-primary">Modifier</button></a>
      <form action="/dashboard/music/suppr/<%= element.MusicID %>?_method=DELETE " method="POST">
      <button type="submit">Supprimer</button>  
      </form>
    </div>
    <% }) %>
  </div>
</div>



<%- include('partials/footer.ejs') %>